/*.dune{*/

/*    width: 280px;*/
/*    height: 170px;*/
/*    object-fit: cover;*/
/*    border-radius: 10px;*/
/*    margin: 10px 10px 20px 10px;*/

/*}*/

.card{
    width: 300px;
    height: 350px;
    border-radius: 15px;

    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);

}
.card-content{
    height: 79px;

    margin-left: 20px;

    margin-bottom: 19px;
}

/*h2{*/


/*    width: 70px;*/
/*    height: 19px;*/

/*    color: rgb(0, 0, 0);*/

/*    font-family: Inter, sans-serif;*/
/*    font-size: 16px;*/
/*    font-weight: 700;*/
/*    line-height: 19px;*/
/*    letter-spacing: 0;*/
/*    text-align: left;*/
/*    margin-bottom: 19px;*/
/*}*/
/*p{*/


/*    width: 260px;*/
/*    height: 40px;*/

/*    color: rgb(171, 179, 186);*/

/*    font-family: Inter, sans-serif;*/
/*    font-size: 12px;*/
/*    font-weight: 500;*/
/*    line-height: 20px;*/
/*    letter-spacing: 0;*/
/*    text-align: left;*/

/*}*/
/*.firstBtn{*/
/*    width: 86px;*/
/*    height: 30px;*/
/*    margin-left: 20px;*/
/*    margin-right: 12px;*/
/*    border-radius: 5px;*/
/*    background: rgb(78, 113, 254);*/
/*    color: rgb(255, 255, 255);*/
/*    font-family: Inter , sans-serif;*/
/*    font-size: 10px;*/
/*    font-weight: 700;*/
/*    line-height: 20px;*/
/*    letter-spacing: 0;*/
/*    text-align: center;*/
/*}*/

/*.secondBtn{*/
/*    width: 86px;*/
/*    height: 30px;*/
/*    color: rgb(78, 113, 254);*/
/*    font-family: Inter , sans-serif; ;*/
/*    font-size: 10px;*/
/*    font-weight: 700;*/
/*    line-height: 20px;*/
/*    letter-spacing: 0;*/
/*    text-align: center;*/
/*}*/